@model PlacementTracker.Web.Models.User.StudDashboardViewModel

@{
	ViewData["Title"] = "Home Page";
}

<div class="header">
	<h1 class="header-title">
		Welcome back, Conn!
	</h1>
	<p class="header-subtitle">You have 24 new messages and 5 new notifications.</p>
</div>

<div class="row">
	<div class="col-12 d-flex">
		<div class="w-100">
			<div class="row">
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title">All Job Activities</h5>
								</div>

								<div class="col-auto">
									<div class="avatar">
										<div class="avatar-title rounded-circle bg-primary-dark">
											<i class="align-middle" data-feather="align-justify"></i>
										</div>
									</div>
								</div>
							</div>
							<h1 class="display-5 mt-1 mb-3">@Model.CountActivities</h1>
							<div class="mb-0">
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title">Applications/ CVs Submitted</h5>
								</div>

								<div class="col-auto">
									<div class="avatar">
										<div class="avatar-title rounded-circle bg-primary-dark">
											<i class="align-middle" data-feather="file"></i>
										</div>
									</div>
								</div>
							</div>
							<h1 class="display-5 mt-1 mb-3">@Model.CountAppsSubmitted</h1>
							<div class="mb-0">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title">Interviews Attended</h5>
								</div>

								<div class="col-auto">
									<div class="avatar">
										<div class="avatar-title rounded-circle bg-primary-dark">
											<i class="align-middle" data-feather="users"></i>
										</div>
									</div>
								</div>
							</div>
							<h1 class="display-5 mt-1 mb-3">@Model.CountInterviews</h1>
							<div class="mb-0">
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col mt-0">
									<h5 class="card-title">Placement Offers</h5>
								</div>

								<div class="col-auto">
									<div class="avatar">
										<div class="avatar-title rounded-circle bg-primary-dark">
											<i class="align-middle" data-feather="thumbs-up"></i>
										</div>
									</div>
								</div>
							</div>
							<h1 class="display-5 mt-1 mb-3">@Model.CountOffers</h1>
							<div class="mb-0">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 d-flex">
		<div class="card flex-fill">
			<div class="card-header">
				<div class="card-actions float-end">
					<a href="#" class="me-1">
						<i class="align-middle" data-feather="refresh-cw"></i>
					</a>
					<div class="d-inline-block dropdown show">
						<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
							<i class="align-middle" data-feather="more-vertical"></i>
						</a>

						<div class="dropdown-menu dropdown-menu-end">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				<h5 class="card-title mb-0">All Jobs Applied For</h5>
			</div>

			<table id="datatables-dashboard-projects" class="table table-striped my-0">
				<thead>
					<tr>
						<th class="d-none d-xl-table-cell">Company</th>
						<th class="d-none d-xl-table-cell">Position</th>
						<th class="d-none d-xl-table-cell">Date</th>
						<th>Activity</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.JobApplications)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.PlacementOrg)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Position)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ActivityDate)
							</td>
							<td>
								@if (item.Name == "Received Job Offer")
								{
									<span class="badge bg-success">@item.Name</span>
								}
								else if (item.Name == "Attended Interview")
								{
									<span class="badge bg-warning">@item.Name</span>
								}
								else
								{
									<span class="badge bg-secondary">@item.Name</span>
								}

							</td>
							<td>
								<a asp-controller="JobApplications"  asp-action="Details" asp-route-id="@item.Id">Details</a> |
								<a asp-controller="JobApplications"  asp-action="AddActivity" asp-route-id="@item.Id">Add Activity</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</div>






