@model IEnumerable<PlacementTracker.Data.Entities.JobApplication>

<div class="header">
	<h1 class="header-title">
		Job Applications
	</h1>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="dashboard-default.html">Job Applications</a></li>
			<li class="breadcrumb-item"><a href="#">All Job Applications</a></li>
		</ol>
	</nav>
</div>


<div class="row">
	<div class="col-12 d-flex">
		<div class="card flex-fill">
			<div class="card-header">
				<div class="card-actions float-end">
					<a href="#" class="me-1">
						<i class="align-middle" data-feather="refresh-cw"></i>
					</a>
					<div class="d-inline-block dropdown show">
						<a href="#" data-bs-toggle="dropdown" data-bs-display="static">
							<i class="align-middle" data-feather="more-vertical"></i>
						</a>

						<div class="dropdown-menu dropdown-menu-end">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				<h5 class="card-title mb-0">Job Applications Details</h5>
			</div>

			<p>
				<a asp-action="Create" class="btn btn-primary">Create New Job Application</a>
			</p>

			<table id="datatables-dashboard-projects" class="table table-striped my-0">
				<thead>
					<tr>
						<th class="d-none d-xl-table-cell">Date</th>
						<th class="d-none d-xl-table-cell">Organisation</th>
						<th>Activity</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{


						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.ActivityDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.PlacementOrg)
							</td>
							<td>
								@if (item.Name == "Received Job Offer")
								{
									<span class="badge bg-success">@item.Name</span>
								}
								else if (item.Name == "Attended Interview")
								{
									<span class="badge bg-warning">@item.Name</span>
								}
								else
								{
									<span class="badge bg-secondary">@item.Name</span>
								}
							</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
								<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
								<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</div>
